@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-label {
    @apply block text-gray-700 text-sm font-bold mb-2;
  }
  .form-input {
    @apply shadow-sm appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-1 h-10;
  }
  .custom-hover {
    @apply transition duration-300 ease-in-out transform cursor-pointer;
  }
  .form-error {
    @apply text-red-500 text-xs pt-1;
  }
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
